{
  "tabWidth": 2,
  "semi": true,
  "singleQuote": false,
  "jsxSingleQuote": false,
  "trailingComma": "all",
  "endOfLine": "lf",
  "printWidth": 100,
  "arrowParens": "always",
  "bracketSpacing": true,
  "bracketSameLine": true,
  "quoteProps": "as-needed",
  "plugins": ["prettier-plugin-tailwindcss"]
}
